*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	scroll-behavior: smooth;
}

p {
	text-align: center;
	font-size: 20px;
}

a {
	text-decoration: none;
	color: #0000ff;
}

a:hover {
	color: #ff5500;
}

ul,
li {
	margin: 0;
}

ul {
	list-style-type: none;
}

li {
	display: flex;
	justify-content: center;
}

.single-book {
	display: flex;
	flex-direction: column;
}

.single-book__title h1 {
	text-align: center;
	margin-bottom: 0;
}

.single-book__categories {
	display: flex;
	justify-content: center;
}

.single-book__categories nav {
	display: flex;
	column-gap: 10px;
}

.single-book__image {
	margin: 40px 0 60px 0;
}

.single-book__image figure {
	display: flex;
	justify-content: center;
}

.archive-genres__pagination {
	display: flex;
	justify-content: center;
}

.archive-genres__container {
	width: max-content;
	position: relative;
}

.archive-genres__list ul {
	margin-bottom: 40px;
}

.archive-genres__pagination .prev.page-numbers {
	position: absolute;
	left: 0;
	width: max-content;
	margin-right: 10px;
	transform: translateX(calc(-100% - 10px));
}

.archive-genres__pagination .next.page-numbers {
	margin-left: 10px;
	position: absolute;
	width: max-content;
}

.recent-post {
	display: flex;
	justify-content: center;
	flex-direction: column;
}

.genre-books__list {
	display: flex;
	justify-content: center;
	flex-direction: column;
}

.genre-books__list ul {
	margin-bottom: 40px;
}
